<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autoryzacja</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css')}}">

    <script src="{{url_for('static', filename='jquery-1.12.4.min.js')}}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='sha1.js')}}"></script>

</head>
<body>
<div class="modal fade" id="loginStatusModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="loginStatusHeader">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="loginStatusTitle" class="modal-title">Modal title</h4>
      </div>
      <div id="loginStatusText" class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modalButton" data-dismiss="modal" class="btn">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<nav class="navbar navbar-default">
    <p class="navbar-text h3">Technologie internetowe w aplikacjach mobilnych</p>
</nav>
<div class="container" style="padding-top: 5vh">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form id="loginForm" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="user"
                           placeholder="Login" id="user">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password"
                           placeholder="Hasło" id="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="hidden" name="challenge_key" id="challenge_key" value="{{challenge_key}}">
                </div>
                <button type="button" class="btn btn-success" id="login-button">Login</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(
            $("#login-button").click(function () {
                var user = $("#user").val();
                var password = $("#password").val();
                var challenge_key = $("#challenge_key").val();
                password = sha1(sha1(password) + challenge_key);
                $.post("/login", {username:user, password:password, challenge_key:challenge_key}, function (data) {
                    $("#loginStatusTitle").text("Sukces!");
                    $("#loginStatusText").text("Zalogowano!");
                    if ($('#modalButton').hasClass('btn-danger')){
                        $('#modalButton').removeClass('btn-danger');
                    }
                    $('#modalButton').addClass('btn-success');
                    $("#loginStatusModal").modal('toggle');
                    $("#loginForm").hide();
                    $(".navbar.navbar-default").append('<p class="navbar-text pull-right h3">Cześć, ' + user + '</p>');
                }).fail(function () {
                    $("#loginStatusTitle").text("Błąd!");
                    $("#loginStatusText").text("Nieprawidłowe dane logowania");
                    $('#modalButton').addClass('btn-danger');
                    $("#loginStatusModal").modal('toggle');
                })

            })
    )
</script>
</body>
</html>